<title><TMPL_VAR meta_title></title>
<meta name="Generator" content="Babble">

<TMPL_IF meta_desc>
  <meta name="description" content="<TMPL_VAR ESCAPE=HTML meta_desc>">
</TMPL_IF>

<TMPL_IF meta_css_link>
  <link rel="stylesheet" media="screen" type="text/css" href="<TMPL_VAR meta_css_link>">
</TMPL_IF>

<TMPL_IF meta_charset>
  <meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR meta_charset>">
</TMPL_IF>

<!--
arch-tag: 1a8b7a6a-aeeb-4290-8d6b-d0730f1b85f2
-->
