<TMPL_LOOP items>

<TMPL_UNLESS template_knob_no_date_head>
  <TMPL_IF items>
    <div class="date">
    <TMPL_UNLESS template_knob_no_content_links>
      <a name="<TMPL_VAR ESCAPE=HTML date>">
    </TMPL_UNLESS>
    <TMPL_VAR date>
    <TMPL_UNLESS template_knob_no_content_links>
      </a>
    </TMPL_UNLESS>
    </div>
  </TMPL_IF>
</TMPL_UNLESS>

<TMPL_LOOP items>
  <div class="entry-title">

  <TMPL_IF author>
    <TMPL_UNLESS template_knob_no_content_links>
      <a href="<TMPL_VAR ESCAPE=HTML master>">
    </TMPL_UNLESS>
    <TMPL_VAR author>
    <TMPL_UNLESS template_knob_no_content_links>
      </a>
    </TMPL_UNLESS>
  </TMPL_IF>

  <TMPL_IF title>
    <TMPL_IF author>&mdash;</TMPL_IF>
    <TMPL_UNLESS template_knob_no_content_links>
      <a href="<TMPL_VAR ESCAPE=HTML id>">
    </TMPL_UNLESS>
    <TMPL_VAR title>
    <TMPL_UNLESS template_knob_no_content_links>
      </a>
    </TMPL_UNLESS>
  </TMPL_IF>
  </div>

  <div class="entry">
  <TMPL_VAR content>

  <TMPL_UNLESS template_knob_no_date>
    <p class="entry-date">
    <TMPL_UNLESS template_knob_no_content_links>
      <a class="entry-date" href="<TMPL_VAR ESCAPE=HTML id>">
    </TMPL_UNLESS>
    <TMPL_VAR date_text>
    <TMPL_UNLESS template_knob_no_content_links>
      </a>
    </TMPL_UNLESS>
    </p>
  </TMPL_UNLESS>
  </div>
</TMPL_LOOP>

</TMPL_LOOP>

<!--
arch-tag: cbf374b3-907d-4962-a2d9-6f87b61ef1ee
-->
