<div id="sidebar">

<div id="about">
<TMPL_IF meta_about_text>
 <TMPL_VAR meta_about_text>
<TMPL_ELSE>
 <p>This collection is powered by
 <a href="http://bonehunter.rulez.org/Babble.phtml">Babble</a>,
 run by <a href="mailto:<TMPL_VAR ESCAPE=HTML meta_owner_email>"><TMPL_VAR
 ESCAPE=HTML meta_owner></a>.</p>
</TMPL_IF>

<TMPL_IF meta_feed_text>
 <TMPL_VAR meta_feed_text>
<TMPL_ELSE>

 <TMPL_IF meta_feed_link>
 <p>Feed is available <a href="<TMPL_VAR meta_feed_link>">here</a>.</p>
 </TMPL_IF>
</TMPL_IF>
</div>

<div id="freshness">
Last update: <TMPL_VAR last_update>
</div>

<TMPL_UNLESS NAME=template_knob_no_sources>
 <div id="blogroll">
 <h1>Subscriptions:</h1>
 <ul>

 <TMPL_LOOP NAME=documents>
  <li> <a href="<TMPL_VAR ESCAPE=HTML id>"><TMPL_VAR title></a>
  <small>(<a href="<TMPL_VAR ESCAPE=HTML link>">feed</a>)</small></li>
 </TMPL_LOOP>

 </ul>
 </div>
</TMPL_UNLESS>

<TMPL_IF template_knob_datebar>
 <div id="blogroll">
 <h1>Feed dates:</h1>
 <ul>

 <TMPL_LOOP NAME=items>
  <li> <a href="#<TMPL_VAR ESCAPE=HTML date>"><TMPL_VAR date></a> </li>
 </TMPL_LOOP>
 </ul>
 </div>
</TMPL_IF>

<TMPL_IF template_knob_planetarium>
 <div id="blogroll">
 <h1>Planetarium:</h1>
 <ul>

 <TMPL_LOOP NAME=planetarium>
  <li> <a href="<TMPL_VAR ESCAPE=HTML url>"><TMPL_VAR name></a></li>
 </TMPL_LOOP>
 </ul>
 </div>
</TMPL_IF>

</div>

<!--
arch-tag: 4bdba0c3-a4c8-4c09-a5e4-f72c511b03d3
-->
